@import url('https://rsms.me/inter/inter.css');
    html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

html, body {
    margin: 0px;
}

.main-layout {
    margin: 0 auto;
}

.list-row {
    display: inline-flex;
    width: 100%;
}

.list-cell-name {
    margin-left: 10px;
    display: inline;
    line-height: 50px;
    width: 20%;
}

.list-cell-adress {
    margin-left: 10px;
    display: inline;
    line-height: 50px;
    width: 45%;
}

.list-cell-phone {
    margin-left: 10px;
    display: inline;
    line-height: 50px;
}

.list-action {
    display: inline;
    margin-left: auto;
    margin-right: 0;
}